$navMenu: 250px;
$navMenuMin: 64px;
$layoutHeader: 75px;
//主颜色
$mainColor: #344a5f;
//辅颜色
$subColor: #f56c6c;
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
//封装兼容方法
@mixin webkit($type, $value) {
  -webkit-#{$type}: $value;
  -moz-#{$type}: $value;
  -o-#{$type}: $value;
  -ms-#{$type}: $value;
  #{$type}: $value;
}
@mixin labelCss ($float, $width, $text-align, $line-height: "normal"){
  label {
    float: $float;
    width: $width + px;
    line-height: $line-height + px;
    text-align: $text-align;
  }
  .warp-content {
    margin-left: $width + px;
  }
}
@mixin elButton ($float, $width, $height) {
  float: $float;
  width: $width + px;
  height: $height + px;
  padding: 0;
}